@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  /* Primary */
  --desaturated-red: 0, 36%, 70%;
  --soft-red: 0, 93%, 68%;

  /* Neutral*/
  --dark-red: 0, 6%, 24%;

  /* Linear Gradient */
  --light-gradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --saturated-gradient: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

  /* Font */
  --font-size: 16px;
}

/******************* 
    GLOBAL STYLES 
*******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--font-size);
  background: linear-gradient(var(--light-gradient));
  max-width: 360px;
  margin: 0 auto;
}

/******************* 
    TYPOGRAPHY
*******************/

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  color: hsl(var(--dark-red));
  margin-bottom: 0.5em;
}

p {
  font-size: 0.9rem;
  text-align: center;
  color: hsl(var(--desaturated-red));
  margin-bottom: 2em;
  line-height: 1.5;
}

span {
  color: hsl(var(--desaturated-red));
  font-weight: 300;
}

/******************* 
    LAYOUT 
*******************/
header {
  min-height: 3rem;
  padding: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  padding: 3em 2em;
  color: #000;
}

/******************* 
    COMPONENT 
*******************/

.logo {
  width: 6rem;
}

.wrapper {
  position: relative;
  max-width: 500px;
}

.card__input {
  border: 1px solid hsla(var(--desaturated-red), 0.5);
  padding: 1em;
  border-radius: 6em;
  background: transparent;
  outline: none;
  width: 100%;
}

.card__button {
  position: absolute;
  right: 0;
  padding: 0.8em 2em;
  background: linear-gradient(var(--saturated-gradient));
  border-radius: 6em;
  border: 0;
  z-index: 5;
}

.card__button:hover {
  background: linear-gradient(135deg, hsl(0, 80%, 91%), hsl(0, 74%, 86%));
}

::placeholder {
  color: hsla(var(--desaturated-red), 0.5);
}

.error-message {
  display: block;
  margin: 0.8em 1em;
  font-size: 0.9rem;
  color: red;
  opacity: 0;
}

#mobile-img {
  display: block;
  width: 100%;
}

#desktop-img,
#desktop-background {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1440px;
    position: relative;
  }

  #desktop-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  header {
    position: absolute;
    left: 8rem;
    top: 2rem;
  }

  .logo {
    width: 9rem;
  }

  main {
    flex-direction: row-reverse;
    align-items: center;
  }

  #mobile-img {
    display: none;
  }

  #desktop-img {
    display: block;
  }

  article {
    padding: 0 9em;
  }

  h1,
  p {
    text-align: left;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  p {
    font-size: 1rem;
    max-width: 45ch;
  }

  footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 15%;
  }
}
